.footer-cv {
    background-color: rgb(173, 144, 219);
    /* the bg color is as above */
    padding-bottom: 50px;
    /* the elemeent is padded in bottom as above magnitude */
    padding-top: 24px;
        /* the element is padded in top as above magntiude */

    font-family: 'Montserrat', sans-serif;
        /* this is google font used here */

    font-size: 25px;
    /* this displays the text in the size mentioned above */
    
    color: rgb(148, 52, 204);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.gridfootercontainer-cv {
    font-family: 'Montserrat', sans-serif;
        /* this is google font used here */

    font-size: 25px;
    /* this displays the text in the size mentioned above */
    color: rgb(148, 52, 204);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.portfolio-cv {
    padding-left: 10%;
    /* it provides the padding to the left sides accroding to the above mangnitude */
    grid-column-start: 1;
    /* grid make teh element to start from column one */
    grid-column-end: 2;/* grid mekes the element to end in above mentioned column  */
    transition-duration: 1s;
    /* time for transistion between the styles */
    grid-row: 4;    /* grid makes the element to start froom the above menetioned row */

}

.portfolio-cv:hover {}

.portfolio-cv .footertitle-cv {
    text-shadow: 2px 2px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.portfolio-cv .footertitle-cv:hover {
    text-shadow: 3px 4px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.portfolio-cv a {
    list-style-type: none;
    /* removes the bullet sign */
    color: rgb(88, 76, 76);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.portfolio-cv a:hover {
    text-shadow: 1px 1px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
    font-size: larger;
    /* this displays the text in the size mentioned above */
}

.portfolio-cv a:active {
    color: blue;
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.portfolio-cv a:visited {
    color: rgb(99, 1, 1);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.sitereport-cv {
    padding-left: 30%;
    /* it provides the padding to the left sides accroding to the above mangnitude */
    transition-duration: 1s;
    /* time for transistion between the styles */
    grid-column-start: 2; 
    /* grid make the element to start fro 2nd column */
    grid-column-end: 3;/* grid mekes the element to end in above mentioned column  */
    grid-row: 4;    /* grid makes the element to start froom the above menetioned row */

}

.sitereport-cv:hover {}

.sitereport-cv .footertitle-cv {
    text-shadow: 2px 2px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.sitereport-cv .footertitle-cv:hover {
    text-shadow: 3px 4px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.sitereport-cv a {
    list-style-type: none;
    /* removes the bullet sign */
    color: rgb(88, 76, 76);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.sitereport-cv a:hover {
    text-shadow: 1px 1px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
    font-size: larger;
    /* this displays the text in the size mentioned above */
}

.sitereport-cv a:active {
    color: blue;
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.sitereport-cv a:visited {
    color: rgb(124, 10, 10);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.contact-cv {
    padding-left: 30%;
    /* it provides the padding to the left sides accroding to the above mangnitude */
    padding-right: 30%;
    /* the right side of element inside the border has 30% of the overal space between */
    grid-column-start: 3;
    /* the element start from the  3th column and it is made by grid structure */
    transition-duration: 1s;
    /* time for transistion between the styles */
    grid-column-end: 5;/* grid mekes the element to end in above mentioned column  */
    grid-row: 4;    /* grid makes the element to start froom the above menetioned row */

}

.contact-cv:hover {}

.contact-cv .footertitle-cv {
    text-shadow: 2px 2px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.contact-cv .footertitle-cv:hover {
    text-shadow: 3px 4px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.contact-cv a {
    list-style-type: none;
    /* removes the bullet sign */
    color: rgb(88, 76, 76);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.contact-cv a:hover {
    text-shadow: 1px 1px white;/* provides the desired shadow to the text */
    transition-duration: 1s;
    /* time for transistion between the styles */
    font-size: larger;
    /* this displays the text in the size mentioned above */
}

.contact-cv a:active {
    color: blue;
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.contact-cv a:visited {
    color: rgb(122, 13, 13);
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.footericoncontainer-cv {
    text-align: center;/* align the text in desired way */
    font-size: 28px;
    /* this displays the text in the size mentioned above */
    color: white;
    /* this sets the color for this */
    transition-duration: 1s;
    /* time for transistion between the styles */
    font-family: 'Montserrat', sans-serif;
        /* this is google font used here */

    grid-column-start: 1;
    /* grid make teh element to start from column one */
    grid-column-end: 13;
    /* grid make he element to end in the 13th column */
}

.footericoncontainer-cv:hover {
    font-size: 29px;
    /* this displays the text in the size mentioned above */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.footericoncontainer-cv img {
    padding: 5px;
    /* the overal padding fo teh element is 5px */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

.footericoncontainer-cv img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* the above shadow will be the shadow for ht element */
    transition-duration: 1s;
    /* time for transistion between the styles */
}

@media only screen and (max-width: 599px) {
    /* for mobile */
    .footer-cv {
        background-color: rgb(173, 144, 219);
        /* the bg color is as above */
        padding-bottom: 50px;
        /* the elemeent is padded in bottom as above magnitude */
        padding-top: 24px;
            /* the element is padded in top as above magntiude */

        font-family: 'Montserrat', sans-serif;
            /* this is google font used here */

        font-size: 25px;
    /* this displays the text in the size mentioned above */
        color: rgb(148, 52, 204);
        /* this sets the color for this */
        text-align: center;/* align the text in desired way */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .gridfootercontainer-cv {
        font-family: 'Montserrat', sans-serif;
            /* this is google font used here */

        font-size: 25px;
    /* this displays the text in the size mentioned above */
        color: rgb(148, 52, 204);
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .portfolio-cv {
        padding-left: 0%;
        /* it provides the padding to the left sides accroding to the above mangnitude */
        grid-column-start: 1;
    /* grid make teh element to start from column one */
        grid-column-end: 5;/* grid mekes the element to end in above mentioned column  */
        transition-duration: 1s;
    /* time for transistion between the styles */
        grid-row: 8;    /* grid makes the element to start froom the above menetioned row */

    }
    .portfolio-cv:hover {}
    .portfolio-cv .footertitle-cv {
        text-shadow: 2px 2px white;/* provides the desired shadow to the text */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .portfolio-cv .footertitle-cv:hover {
        text-shadow: 3px 4px white;/* provides the desired shadow to the text */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .portfolio-cv a {
        list-style-type: none;
        /* removes the bullet sign */
        transition-duration: 1s;
    /* time for transistion between the styles */
        color: rgb(88, 76, 76);
        /* this sets the color for this */
    }
    .portfolio-cv a:hover {
        text-shadow: 1px 1px white;
        /* provides the desired shadow to the text */
        font-size: larger;
        /* this displays the text in the size mentioned above */
    }
    .portfolio-cv a:active {
        color: blue;
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .portfolio-cv a:visited {
        color: green;
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .sitereport-cv {
        padding-left: 0%;
        /* it provides the padding to the left sides accroding to the above mangnitude */
        grid-column-start: 1;
    /* grid make teh element to start from column one */
        grid-column-end: 5;/* grid mekes the element to end in above mentioned column  */
        transition-duration: 1s;
    /* time for transistion between the styles */
        grid-row: 9;    /* grid makes the element to start froom the above menetioned row */

    }
    .sitereport-cv:hover {}
    .sitereport-cv .footertitle-cv {
        text-shadow: 2px 2px white;/* provides the desired shadow to the text */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .sitereport-cv .footertitle-cv:hover {
        text-shadow: 3px 4px white;/* provides the desired shadow to the text */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .sitereport-cv a {
        list-style-type: none;
        /* removes the bullet sign */
        color: rgb(88, 76, 76);
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .sitereport-cv a:hover {
        text-shadow: 1px 1px white;/* provides the desired shadow to the text */
        font-size: larger;
        /* this displays the text in the size mentioned above */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .sitereport-cv a:active {
        color: blue;
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .sitereport-cv a:visited {
        color: green;
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .contact-cv {
        padding-left: 20%;
        /* it provides the padding to the 
        
        
        
        
        left sides accroding to the above mangnitude */
        transition-duration: 1s;
    /* time for transistion between the styles */
    
        grid-column-start: 1;
    /* grid make teh element to start from column one */
        grid-column-end: 5;/* grid mekes the element to end in above mentioned column  */
        grid-row: 10;    /* grid makes the element to start froom the above menetioned row */

    }
    .contact-cv:hover {}
    .contact-cv .footertitle-cv {
        text-shadow: 2px 2px white;/* provides the desired shadow to the text */
        
        


transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .contact-cv .footertitle-cv:hover {
        text-shadow: 3px 4px white;/* provides the desired shadow to the text */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .contact-cv a {
        list-style-type: none;
        /* removes the bullet sign */
        color: rgb(88, 76, 76);
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .contact-cv a:hover {
        text-shadow: 1px 1px white;/* provides the desired shadow to the text */
        transition-duration: 1s;
    /* time for transistion between the styles */
        font-size: larger;
        /* this displays the text in the size mentioned above */
    }
    .contact-cv a:active {
        color: blue;
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .contact-cv a:visited {
        color: green;
        /* this sets the color for this */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .footericoncontainer-cv {
        text-align: center;/* align the text in desired way */
        transition-duration: 1s;
    /* time for transistion between the styles */
        font-size: 23px;
        /* this displays the text in the size mentioned above */
        color: white;
        /* this sets the color for this */
        font-family: 'Montserrat', sans-serif;
            /* this is google font used here */

        grid-column-start: 1;
    /* grid make teh element to start from column one */
        grid-column-end: 13;/* grid mekes the element to end in above mentioned column  */
        grid-row: 11;    /* grid makes the element to start froom the above menetioned row */

    }
    .footericoncontainer-cv:hover {
        font-size: 29px;
        /* this displays the text in the size mentioned above */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .footericoncontainer-cv img {
        padding: 5px;
        /* the overal padding of the element is 5px */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
    .footericoncontainer-cv img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* the above shadow will be the shadow for ht element */
        transition-duration: 1s;
    /* time for transistion between the styles */
    }
}