@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.index_hello {
    padding: 3%; 
    /* the overal padding is as mentioned above */
    margin-top: 45px;
    /* the top of margin is 45px */
    margin-left: 10%;
    /* the margin at the left */
    grid-column-start: 1;
    /* grid make the element to start from the 1st column */
    grid-column-end: 7;
    /* grid make the element to end at the 13th column    */
    margin-bottom: 10%;
}

@media only screen and (max-width: 599px;
) {
    /* for mobile */
    .index_hello {
        padding: 0%;
        /* the overal padding is as mentioned above */
        margin-top: 25px;
        /* margin at the top for the ellement in the samall screen is 25px */
        margin-left: 10%;
        /* the margin at the left side is 10% */
        grid-column-start: 1;
        /* grid make the element to start from the 1st column */
        grid-column-end: 13;
        /* grid make the element to end at the 13th column    */
        margin-bottom: 10%;
        text-align: center;/* align the text in desired way */
    }
}

.index_hello:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* the above shadow will be the shadow for ht element */
}

.index_hello h3 {
    color: #a69bd3;/* this sets the color for this */
    font-size: 20px;
    /* text are size accroding to above value */
}

.index_imrohan {
    color: white;/* this sets the color for this */
    font-size: 45px;
    /* text are size accroding to above value */
}

.index_hello_para {
    color: rgb(186, 150, 219);/* this sets the color for this */
    font-size: 23px; 
    /* text are size accroding to above value */
    
    
    font-family: Arial, Helvetica, sans-serif;
        /* this is google font used here */

}

.index_hello_para:hover {
    color: rgb(186, 150, 219);/* this sets the color for this */
    font-size: 25px;
    /* this displays the text in the size mentioned above */
    
    font-family: Arial, Helvetica, sans-serif;
        /* this is google font used here */

}


/* 2nd para */


/* Writing frrom here */

.index_bio {
    grid-column-start: 6;
    /* grid make the element to start from the 1st column */
    grid-column-end: 12;
    /* grid make the element to end at the 13th column    */
    
    margin-bottom: 10%;
    /* margin at the bttom of the elemne is 10% */
    margin-left: 10%;
    /* margin at the left of the element is 10% */
    align-content: stretch;
    /* the contentis stretchded up to the border */
}

@media only screen and (max-width:499px) {
    .index_bio {
        grid-column-start: 1;
        /* grid make the element to start from the 1st column */
        grid-column-end: 13;
        /* grid make the element to end at the 13th column    */
        margin-bottom: 10%;
        /* marin at the bottom is 10% */
        margin-left: 10%;
        /* margin at the left is 10% */
        align-content: stretch;
        /* the cotent is stretch up to border */
    }
}

.index_bio:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* the above shadow will be the shadow for ht element */
}

.index_bio {
    color: rgb(186, 150, 219);/* this sets the color for this */
    font-size: 25px;
    /* this displays the text in the size mentioned above */
    
    font-family: Arial, Helvetica, sans-serif;
        /* this is google font used here */

}

.index_bio h2 {
    color: white;/* this sets the color for this */
    font-size: 45px;
    /* to make text bigger */
}


/* writing from here*/


/* 3rd para */

.index_aboutme {
    grid-column-start: 1;
    /* grid make the element to start from the 1st column */
    grid-column-end: 6;
    /* grid make the element to end at the 13th column    */
    margin-left: 15%;
    /* margin at the left side is 15% */
    margin-bottom: 25px;
    /* margin at the bottom is 25px */
    
}

@media only screen and (max-width:499px) {
    .index_aboutme {
        grid-column-start: 1;
        /* grid make the element to start from the 1st column */
        grid-column-end: 13;
        /* grid make the element to end at the 13th column    */
        margin-left: 15%;
        /* margin at the left side is as above */
        margin-bottom: 25px;
    /* margin at the bottom is 25px */
    }
}

.index_aboutme:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* the above shadow will be the shadow for ht element */
}

.index_aboutme_para {
    color: rgb(186, 150, 219);/* this sets the color for this */
    font-size: 25px;
    /* this displays the text in the size mentioned above */
    font-family: monospace;
    /* this is font type  */
    font-family: Arial, Helvetica, sans-serif;
        /* this is google font used here */

}

.index_aboutme h2 {
    color: white;/* this sets the color for this */
    font-size: 45px;
    /* this displays the text in the size mentioned above */
}


/* body */


/* writitng from here */

body {
    margin: 0;
    /* margin is 0 */
    height: 100%;
    /* the height of the element takes as much it can*/
}


/* .gradient {
    background: rgb(255, 68, 0);
    background: linear-gradient(117deg, rgba(255, 68, 0, 1) 0%, rgba(5, 0, 255, 1) 49%, rgba(255, 244, 0, 1) 50%, rgba(255, 0, 39, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
} */


/* button */


/* writing from here */

.index_button {
    font-weight: bold;
    /* the text size s bold */
    font-size: 15px;
    /* this displays the text in the size mentioned above */
    color: rgb(39, 23, 98);/* this sets the color for this */
    /* color: red; */
    width: 20%;
    /* the widht is as above */
    height: 50px;
    /* the height is 50px */
    background-image: linear-gradient(rgba(58, 33, 151, 0.753), rgba(130, 22, 219, 0.705));
}

.index_button:hover {
    font-weight: bolder;
    /* fontweight is bolder */
    color: white;/* this sets the color for this */
    background-color: rgba(53, 11, 206, 0.5);
    /* the bg color is as above */
    font-size: 17px;
    /* this displays the text in the size mentioned above */
}


/* footer */


/* Writign form hereee */

.footer-in {
    background-color: rgb(173, 144, 219);
    /* the bg color is as above */
    padding-bottom: 50px;
    /* the elemeent is padded in bottom as above magnitude */
    padding-top: 24px;
        /* the element is padded in top as above magntiude */

    font-family: 'Montserrat', sans-serif;
        /* this is google font used here */

    font-size: 25px;
    /* this displays the text in the size mentioned above */
    color: rgb(148, 52, 204);/* this sets the color for this */
}

.gridfootercontainer-in {
    font-family: 'Montserrat', sans-serif;
        /* this is google font used here */

    font-size: 25px;
    /* this displays the text in the size mentioned above */
    color: rgb(148, 52, 204);/* this sets the color for this */
}

.portfolio-in {
    padding-left: 10%;
    /* it provides the padding to the left sides accroding to the above mangnitude */
    grid-column-start: 1;
    /* grid make the element to start from the 1st column */
    grid-column-end: 5;
    /* grid make the element to end at the 13th column    */
}

.portfolio-in:hover {}

.portfolio-in .footertitle-in {
    text-shadow: 2px 2px white;/* provides the desired shadow to the text */
}

.portfolio-in .footertitle-in:hover {
    text-shadow: 3px 4px white;/* provides the desired shadow to the text */
}

.portfolio-in a {
    list-style-type: none;
    /* removes the bullet sign */
    color: rgb(88, 76, 76);/* this sets the color for this */
}

.portfolio-in a:hover {
    text-shadow: 1px 1px white;/* provides the desired shadow to the text */
    font-size: larger;
    /* this displays the text in the size mentioned above */
}

.portfolio-in a:active {
    color: blue;/* this sets the color for this */
}

.portfolio-in a:visited {
    color: red;/* this sets the color for this */
}

.sitereport-in {
    padding-left: 10%;
    /* it provides the padding to the left sides accroding to the above mangnitude */
    grid-column-start: 5;
    /* grid make the element to start from the 1st column */
    grid-column-end: 9;
    /* grid make the element to end at the 13th column    */
}

.sitereport-in:hover {}

.sitereport-in .footertitle-in {
    text-shadow: 2px 2px white;/* provides the desired shadow to the text */
}

.sitereport-in .footertitle-in:hover {
    text-shadow: 3px 4px white;/* provides the desired shadow to the text */
}

.sitereport-in a {
    list-style-type: none;
    /* removes the bullet sign */
    color: rgb(88, 76, 76);/* this sets the color for this */
}

.sitereport-in a:hover {
    text-shadow: 1px 1px white;/* provides the desired shadow to the text */
    font-size: larger;
    /* this displays the text in the size mentioned above */
}

.sitereport-in a:active {
    color: blue;/* this sets the color for this */
}

.sitereport-in a:visited {
    color: red;/* this sets the color for this */
}

.contact-in {
    padding-left: 10%;
    /* it provides the padding to the left sides accroding to the above mangnitude */
    grid-column-start: 9;
    /* grid make the element to start from the 1st column */
    grid-column-end: 13;
    /* grid make the element to end at the 13th column    */
}

.contact-in:hover {}

.contact-in .footertitle-in {
    text-shadow: 2px 2px white;/* provides the desired shadow to the text */
}

.contact-in .footertitle-in:hover {
    text-shadow: 3px 4px white;/* provides the desired shadow to the text */
}

.contact-in a {
    list-style-type: none;
    /* removes the bullet sign */
    color: rgb(88, 76, 76);/* this sets the color for this */
}

.contact-in a:hover {
    text-shadow: 1px 1px white;/* provides the desired shadow to the text */
    font-size: larger;
    /* this displays the text in the size mentioned above */
}

.contact-in a:active {
    color: blue;/* this sets the color for this */
}

.contact-in a:visited {
    color: red;/* this sets the color for this */
}

.footericoncontainer-in {
    text-align: center;/* align the text in desired way */
    font-size: 28px;
    /* this displays the text in the size mentioned above */
    color: white;/* this sets the color for this */
    font-family: 'Montserrat', sans-serif;
        /* this is google font used here */

    grid-column-start: 1;
    /* grid make the element to start from the 1st column */
    grid-column-end: 13;
    /* grid make the element to end at the 13th column    */
}

.footericoncontainer-in:hover {
    font-size: 29px;
    /* this displays the text in the size mentioned above */
}

.footericoncontainer-in img {
    padding: 5px;
    /* the element overal padding is 5px */
}

.footericoncontainer-in img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* the above shadow will be the shadow for ht element */
}

@media only screen and (max-width: 599px) {
    /* for mobile */
    .footer-in {
        background-color: rgb(173, 144, 219);
        /* the bg color is as above */
        padding-bottom: 50px;
        /* the elemeent is padded in bottom as above magnitude */
        padding-top: 24px;
            /* the element is padded in top as above magntiude */

        font-family: 'Montserrat', sans-serif;
            /* this is google font used here */

        font-size: 25px;
    /* this displays the text in the size mentioned above */
        color: rgb(148, 52, 204);/* this sets the color for this */
        text-align: center;/* align the text in desired way */
    }
    .gridfootercontainer-in {
        font-family: 'Montserrat', sans-serif;
            /* this is google font used here */

        font-size: 25px;
    /* this displays the text in the size mentioned above */
        color: rgb(148, 52, 204);/* this sets the color for this */
    }
    .portfolio-in {
        padding-left: 0%;
        /* it provides the padding to the left sides accroding to the above mangnitude */
        grid-column-start: 1;
        /* grid make the element to start from the 1st column */
        grid-column-end: 13;
        /* grid make the element to end at the 13th column    */
    }
    .portfolio-in:hover {}
    .portfolio-in .footertitle-in {
        text-shadow: 2px 2px white;/* provides the desired shadow to the text */
    }
    .portfolio-in .footertitle-in:hover {
        text-shadow: 3px 4px white;/* provides the desired shadow to the text */
    }
    .portfolio-in a {
        list-style-type: none;

        /* removes the bullet sign */
        color: rgb(88, 76, 76);/* this sets the color for this */
    }
    .portfolio-in a:hover {
        text-shadow: 1px 1px white;/* provides the desired shadow to the text */
        font-size: larger;
        /* this displays the text in the size mentioned above */
    }
    .portfolio-in a:active {
        color: blue;/* this sets the color for this */
    }
    .portfolio-in a:visited {
        color: green;/* this sets the color for this */
    }
    .sitereport-in {
        padding-left: 0%;
        /* it provides the padding to the left sides accroding to the above mangnitude */
        grid-column-start: 1;
        /* grid make the element to start from the 1st column */
        grid-column-end: 13;
        /* grid make the element to end at the 13th column    */
    }
    .sitereport-in:hover {}
    .sitereport-in .footertitle-in {
        text-shadow: 2px 2px white;/* provides the desired shadow to the text */
    }
    .sitereport-in .footertitle-in:hover {
        text-shadow: 3px 4px white;/* provides the desired shadow to the text */
    }
    .sitereport-in a {
        list-style-type: none;
        /* removes the bullet sign */
        color: rgb(88, 76, 76);/* this sets the color for this */
    }
    .sitereport-in a:hover {
        text-shadow: 1px 1px white;/* provides the desired shadow to the text */
        font-size: larger;
    }
    .sitereport-in a:active {
        color: blue;/* this sets the color for this */
    }
    .sitereport-in a:visited {
        color: green;/* this sets the color for this */
    }
    .contact-in {
        padding-left: 0%;
        /* it provides the padding to the left sides accroding to the above mangnitude */
        grid-column-start: 1;
        /* grid make the element to start from the 1st column */
        grid-column-end: 13;
        /* grid make the element to end at the 13th column    */
    }
    .contact-in:hover {}
    .contact-in .footertitle-in {
        text-shadow: 2px 2px white;/* provides the desired shadow to the text */
    }
    .contact-in .footertitle-in:hover {
        text-shadow: 3px 4px white;/* provides the desired shadow to the text */
    }
    .contact-in a {
        list-style-type: none;
        /* removes the bullet sign */
        color: rgb(88, 76, 76);/* this sets the color for this */
    }
    .contact-in a:hover {
        text-shadow: 1px 1px white;/* provides the desired shadow to the text */
        font-size: larger;
        /* this displays the text in the size mentioned above */
    }
    .contact-in a:active {
        color: blue;/* this sets the color for this */
    }
    .contact-in a:visited {
        color: green;/* this sets the color for this */
    }
    .footericoncontainer-in {
        text-align: center;/* align the text in desired way */
        font-size: 23px;
        /* this displays the text in the size mentioned above */
        color: white;/* this sets the color for this */
        font-family: 'Montserrat', sans-serif;
            /* this is google font used here */

        grid-column-start: 1; 
        /* grid make the element to start from the 1st column  */
        grid-column-end: 13;
        /* grid make the element to end at the 13th column       */
    }
    .footericoncontainer-in:hover {
        font-size: 29px;
        /* this displays the text in the size mentioned above */
    }
    .footericoncontainer-in img {
        padding: 5px;
        /* the overal padding is as mentioned above */
    }
    .footericoncontainer-in img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* the above shadow will be the shadow for ht element */
    }
}


/* grrrrid contaienr */


/* writing from here */

.grid-container-in {
    display: grid;
    /* divides the screen in the grid form */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    /* the above code divides the into three parts */
}




.grid-item1-in {
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* the border for the item to check the space taking */
    

    font-size: 45px;
    /* this displays the text in the size mentioned above */
    text-align: center;/* align the text in desired way */
}


/* navigation bar  */


/* .topnav {
    overflow: hidden;
    height: 70px;
    background-color: #333;
    grid-column: 4/13;
}

.topnav a {
    float: left;
    width: 150px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
  padding-bottom: 40px;

padding: 14px 16px;
text-decoration: none;
font-size: 17px;
height: 50px;
font-family: 'Ubuntu',
sans-serif;
text-decoration: none;
font-size: 20px;

}
.topnav a:hover {
    color: rgb(202, 201, 120);
    width: 135px;
    height: 70px;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
    background-color: rgb(64, 53, 85);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav {
        grid-column: 1/13;
    }
    
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav a:not(:last-child) {
        width: 70%;
        height: 35px;


}
.topnav a {
    font-size: 25px;
    /* this displays the text in the size mentioned above */
/* }

}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        /* the browser will treat ast the block element */
        /* text-align: left;align the text in desired way */
    /* } */
/* } */




.topnav-in {
    overflow: hidden;
    /* background-color : #333; */
    /* grid-column: 4/13; topnavbar starts from te 4th column and end at the 13th column */
}

.topnav-in a {
    float: left;
    /* the item is float on hte left side of the element */
    display: block;
    /* the browser will treat ast the block element */
    color: #f2f2f2;/* this sets the color for this */
    text-align: center;/* align the text in desired way */
    padding: 14px 16px;
    /* the top bottom and right left padding is as mentioned above */
    text-decoration: none;
    /* removes the bullet of the anchor tag */
    font-size: 17px;
    /* this displays the text in the size mentioned above */
    background-color: rgb(90, 74, 121);
    /* the bg color is as above */
}

.topnav-in a:hover {
    background-color: #ddd;
    /* the bg color is as above */
    color: black;/* this sets the color for this */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* the above shadow will be the shadow for ht element */
}

.topnav-in a.active {
    background-color: rgb(64, 53, 85);
    /* bg color when the anchore tag is active */
    color: white;/* this sets the color for this */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* the above shadow will be the shadow for ht element */
}

.topnav-in .icon-in {
    display: none;
    /* the display of the icon will not be seen  */
    /* because if it will be seen in the large screen then it will not meet the requirement */
}

@media only screen and (max-width: 600px) {
    .topnav-in a:not(:first-child) {
        display: none;
        /* only first element will be seen remainng will not be seeen */
    }
    .topnav-in a.icon-in {
        float: right;
        /* the icon will float right part fo the screen */
        display: block;
        /* the icon will be treated as the block */       
    }
    .topnav-in {
        width: 100%;
        /* the navigation bar will allocate the full 100% width */                           
        /* the widht is as above */
        grid-column: 1/13;
        /* as it is in small screen it will take all the column to be appropriate */         
    }
    .topnav-in a:not(:.icon-in) {
        grid-column: 1/12;
        /* as it only for the achor name is will take approx 95% of space and that is here about 3 column */         
    }
    .icon-in {
        grid-column: 12/13;
        /* for icon it will barely take about 5% space so it only takes one column */                                
    }
}

@media only screen and (max-width: 600px) {
    .topnav-in.smallscrn-in {
        /* here media screen is the query which will be only valid if the device screen is maximum 599px if it is more than that  */
        /* the default css will be applied */
        position: relative;
        /* this two class will have postion relative */
        /* here this will be only applied if both topnav and responsive will be met and that will be done by js written in the script file */
        
    }
    .topnav-in.smallscrn-in .icon-in {
        position: absolute;
            /* the postion of the icon will be absolute */             
        right: 0;
            /* icon will be at the full right part of the screen */    
        top: 0;
            /* icon will be at the top of the screen */                
            /* now icon will lies in the top right part of the scren */
    }
    .topnav-in.smallscrn-in a {
        float: none;
        /* the anchor tag will not float now */         
        display: block;
        /* the anchor will be treated as the block */   
        text-align: left;
        /* the letter will be left part of the screen */
    }
}


/* writing fffffffffffform here */


/* responsive writing frooooooooooooooooooooooooooooom mhwer */